# Server
PORT=3001
HOST=0.0.0.0
NODE_ENV=development

# Database
DATABASE_URL="postgresql://fastodo:fastodo_secret@localhost:5432/fastodo"

# Auth
JWT_SECRET="change-me-to-a-random-secret-at-least-32-chars"
JWT_REFRESH_SECRET="change-me-to-another-random-secret-at-least-32-chars"

# CORS
CORS_ORIGIN=http://localhost:5173
